* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 { 
    background-color:linear-gradient(90deg, #0f3057, #00587a);
    color: rgb(0, 0, 0);
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #ad72f0;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
 .score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score, 
#comp-score {
    font-size: 4rem;

}

.msg-container {
    margin-top: 5rem;

}

#msg {
    background-color: #081b31;
    color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
} 

body.win {
    background: radial-gradient(circle, #00ff88, #081b31);
    transition: 0.5s ease;
}

body.lose {
    background: radial-gradient(circle, #ff4d4d, #081b31);
    transition: 0.5s ease;
}

body.draw {
    background-color: white;
    transition: 0.5s ease;
}